#spinner {
    color: black !important;
}

#spinner::ng-deep circle {
    stroke: black;
}

.material-icons {
    color: rgb(59, 55, 55) ;
}

.material-icons:hover {
    color: limegreen;
}
.hidden{
    display: none !important;
}
.show{
    display: inline-block !important;
}