    <div class="flex h-screen sm:mt-1  overflow-hidden z-10 fixed top-0 sm:relative" >
    <mat-drawer-container class="example-container w-auto h-auto " [hasBackdrop]="false">
        <mat-drawer #drawer [mode]="'side'"  class="w-64 h-full pt-10 sm:pt-0" opened="true" >
          
            <div>
              <!-- div for button --> 
              <div class="ml-2 mt-2">
                <button *ngIf="forComponent=='businessDomain'" class="bg-gray-800 hover:bg-gray-950 text-white rounded-md px-2 py-1 ">
                  + Add Business Domain
                </button>
              </div>
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="ml-2">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node"  matTreeNodePadding >
                  <!-- use a disabled button to provide padding for tree leaf -->
                  <!-- <button mat-icon-button disabled></button> -->

                  <!-- InvokedTriggerID to send the id of display node and its parent node to the parent component -->
                  <button  (click)="InvokeIdTrigger({displayId:node.displayId,parentId:node.parentId})"  >{{node.name}}</button>
                  <!-- <button routerLink="/orders" >{{node.name}}</button> -->

                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node  *matTreeNodeDef="let node;when: hasChild" class="font-bold"  >

                  <!-- InvokedTriggerID to send the id of displaynode to the parent component -->
                  <button (click)="InvokeIdTrigger({displayId:node.displayId, parentId:undefined})"  id="nodeLink"   matTreeNodeToggle 
                          [attr.aria-label]="'Toggle' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror" >
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                     
                    {{node.name }}
                </button>
                </mat-tree-node>
              </mat-tree>
        </div>
      </mat-drawer>
      <!-- <mat-drawer-content class="w-auto">
      </mat-drawer-content> -->
    </mat-drawer-container>
    <button  (click)="drawer.toggle()" class="bg-black rounded-full h-max mt-20 sm:mt-1 py-1 px-3 text-white">></button>
</div>

 