<div class="h-auto mt-12 md:ml-5 ml-0 sm:mt-5 flex-col  ">
    <div class="flex-col items-center w-[97%]  box-border md:mr-12 mr-0 p-4 bg-slate-100 rounded-md">
        <h1 class="text-3xl font-semibold">Orders</h1>
        <p>{{orders.about.description}}"Efficiently manage and meticulously track all your orders, encompassing both
            procurement and sales orders, for streamlined operations and enhanced business performance."</p>

        <p class="mt-3 font-bold">Description:</p>

        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum amet praesentium labore, non vitae
            pariatur. Ipsam debitis voluptate blanditiis fuga. Deleniti suscipit ut distinctio dolore tenetur numquam
            libero recusandae natus!</p>
    </div>
    <hr class="w-full border mt-5">











    <div class="my-5 w-[97%]  mr-0 sm:mr-12 p-4 box-border bg-slate-100 rounded-md flex-col" *ngIf="render==='purchaseOrder'">
        <div class="flex-col items-center">
            <h1 class="text-2xl font-semibold">Purchase Orders</h1>
            <p>{{orders.purchaseOrders.about.description}}"Efficiently manage and meticulously track all your orders,
                encompassing both procurement and sales orders, for streamlined operations and enhanced business
                performance."</p>

            <h1 class="text-2xl font-semibold mt-5">Orders list</h1>
            <p>Track all the purchasing orders here.</p>

            <div class="w-72 mx-auto sm:w-[80%]  my-5 ">

                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                                    Product No
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Supplier
                                </th>
                                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                                    Total amount
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let order of orders.purchaseOrders.orders.currentMonth">
                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                                    {{order.orderNumber}}
                                </th>
                                <td class="px-6 py-4">
                                    {{order.supplier}}
                                </td>
                                <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                                    {{order.totalAmount}}
                                </td>
                                <td class="px-6 py-4">
                                    {{order.status}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>

      <div class="p-4 bg-slate-100 mr-0 sm:mr-12 rounded-md w-auto my-5" *ngIf="render==='salesOrder'">
        <div class="flex-col items-center">
            <h1 class="text-2xl font-semibold">Sales Orders</h1>
            <p>{{orders.purchaseOrders.saleOrders.about.description}}"Efficiently managing procurement and purchase orders is crucial for any organization. It involves optimizing the process to ensure timely acquisition of goods and services while controlling costs. Proper management helps streamline operations and maintain a healthy supply chain. By implementing effective strategies and utilizing technology, businesses can enhance their procurement processes"</p>

            <h1 class="text-2xl font-semibold mt-5">Orders list</h1>
            <p>Track all the Sales orders here.</p>

            <div class="w-72 mx-auto sm:w-[80%]  my-5 ">

                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                                    Product No
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Customer
                                </th>
                                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                                    Total amount
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let order of orders.purchaseOrders.saleOrders.orders.currentMonth">
                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                                    {{order.orderNumber}}
                                </th>
                                <td class="px-6 py-4">
                                    {{order.customer}}
                                </td>
                                <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                                    {{order.totalAmount}}
                                </td>
                                <td class="px-6 py-4">
                                    {{order.status}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>