<div class="mt-12 ml-5 sm:mt-5 text-gray-800  flex ">
    <div class="  flex flex-col space-y-5 ">
        <div>
            <h1 class="text-2xl font-medium mb-2">Explore our projects</h1>
            <p>
                Discover the incredible work we've done. Browse through our diverse range of projects to see the
                quality, creativity, and innovation we bring to each endeavor. From web design to app development, we're
                proud to showcase our accomplishments. Click on each project to learn more and see our commitment to
                excellence in action."
            </p>
        </div>
        <div class="flex-col space-y-5"  >
            <!-- Website projects -->
            <div class="flex-col space-y-7" *ngIf="render==='webProjects'" >
                <div>
                    <h1 class="text-2xl  ">Website Projects</h1>
                    <p>Our website projects represent our digital craftsmanship in action. Explore a selection of
                        websites
                        we've
                        designed and developed, each tailored to meet unique objectives and challenges. From visually
                        stunning
                        designs to seamless functionality, these projects showcase our dedication to creating engaging
                        online
                        experiences for our clients and their audiences</p>
                </div>
                <div class="w-full sm:flex-row flex flex-col gap-5 justify-center items-center">
                    <div *ngFor="let project of projects.websiteProjects"
                        class="sm:w-[40%] h-full w-[95%]  flex justify-center  bg-gray-300  shadow-md rounded-lg p-4">
                        <div class="flex-col  ">
                            <p>
                                <span class="mr-2  text-xl w-40  inline-block "> Project Name:</span>
                                <span> {{project.name}}</span>
                            </p>
                            <p>
                                <span class="mr-2   w-40  inline-block "> Manager:</span>
                                <span> {{project.projectManager}}</span>
                            </p>
                            <p>
                                <span class="mr-2  w-40 inline-block "> Name:</span>
                                <span>{{project.clientName}} </span>
                            </p>
                            <p>
                                <span class="mr-2 w-40 inline-block "> Budget:</span>
                                <span>{{project.budget}}</span>
                            </p>
                            <p>
                                <span class="mr-2 w-40 inline-block ">Project type:</span>
                                <span>{{project.projectType}}</span>
                            </p>
                            <p>
                                <span class="mr-2 w-40 inline-block ">Started on:</span>
                                <span>{{project.startDate}}</span>
                            </p>
                            <p>
                                <span class="mr-2 w-40 inline-block ">Ended on:</span>
                                <span>{{project.endDate}}</span>
                            </p>
                            <p>
                                <span class="mr-2 w-40 inline-block ">Project duration:</span>
                                <span>{{project.totalTimeTaken}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Android  projects -->
            <div class="flex-col space-y-7" *ngIf="render==='androidProjects'" >
                <div>
                <h1 class="text-2xl  ">Android developement Projects</h1>
                <p>Explore our portfolio of Android applications, each meticulously crafted to address specific
                    objectives and unique challenges. From sleek and user-friendly interfaces to robust
                    functionality, these projects exemplify our unwavering commitment to delivering captivating
                    mobile experiences for our clients and their users."Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Nulla, aliquid.</p>
            </div>
            <div class="w-full sm:flex-row flex flex-col gap-5 justify-center items-center">
                <div *ngFor="let project of projects.AndroidProjects"
                    class="sm:w-[40%] h-full w-[95%]  flex justify-center  bg-gray-300  shadow-md rounded-lg p-4">
                    <div class="flex-col  ">
                        <p>
                            <span class="mr-2  text-xl w-40  inline-block "> Project Name:</span>
                            <span> {{project.name}}</span>
                        </p>
                        <p>
                            <span class="mr-2   w-40  inline-block "> Manager:</span>
                            <span> {{project.projectManager}}</span>
                        </p>
                        <p>
                            <span class="mr-2  w-40 inline-block "> Name:</span>
                            <span>{{project.clientName}} </span>
                        </p>
                        <p>
                            <span class="mr-2 w-40 inline-block "> Budget:</span>
                            <span>{{project.budget}}</span>
                        </p>
                        <p>
                            <span class="mr-2 w-40 inline-block ">Project type:</span>
                            <span>{{project.projectType}}</span>
                        </p>
                        <p>
                            <span class="mr-2 w-40 inline-block ">Started on:</span>
                            <span>{{project.startDate}}</span>
                        </p>
                        <p>
                            <span class="mr-2 w-40 inline-block ">Ended on:</span>
                            <span>{{project.endDate}}</span>
                        </p>
                        <p>
                            <span class="mr-2 w-40 inline-block ">Project duration:</span>
                            <span>{{project.totalTimeTaken}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
            <!-- Artificial Intelligence -->
            <div class="flex-col space-y-7" *ngIf="render==='aiProjects'" >

            <div>
                <h1 class="text-2xl  ">Artificial Intelligence Projects</h1>
                <p>Explore our portfolio of Android applications, each meticulously crafted to address specific
                    objectives and unique challenges. From sleek and user-friendly interfaces to robust
                    functionality, these projects exemplify our unwavering commitment to delivering captivating
                    mobile experiences for our clients and their users."Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Nulla, aliquid.</p>
            </div>
            <div class="w-full sm:flex-row flex flex-col gap-5 justify-center items-center">
                <div *ngFor="let project of projects.AiProjects"
                    class="sm:w-[40%] h-full w-[95%]  flex justify-center  bg-gray-300  shadow-md rounded-lg p-4">
                    <div class="flex-col  ">
                        <p>
                            <span class="mr-2  text-xl w-40  inline-block "> Project Name:</span>
                            <span> {{project.name}}</span>
                        </p>
                        <p>
                            <span class="mr-2   w-40  inline-block "> Manager:</span>
                            <span> {{project.projectManager}}</span>
                        </p>
                        <p>
                            <span class="mr-2  w-40 inline-block "> Name:</span>
                            <span>{{project.clientName}} </span>
                        </p>
                        <p>
                            <span class="mr-2 w-40 inline-block "> Budget:</span>
                            <span>{{project.budget}}</span>
                        </p>
                        <p>
                            <span class="mr-2 w-40 inline-block ">Project type:</span>
                            <span>{{project.projectType}}</span>
                        </p>
                        <p>
                            <span class="mr-2 w-40 inline-block ">Started on:</span>
                            <span>{{project.startDate}}</span>
                        </p>
                        <p>
                            <span class="mr-2 w-40 inline-block ">Ended on:</span>
                            <span>{{project.endDate}}</span>
                        </p>
                        <p>
                            <span class="mr-2 w-40 inline-block ">Project duration:</span>
                            <span>{{project.totalTimeTaken}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

            <div class="flex-col space-y-5">




                <div>
                    <h1 class="text-2xl font-medium mb-2">Project showcase</h1>
                    <p>Our Project Showcase is a testament to our commitment to innovation and excellence. Take a closer
                        look at
                        a curated selection of our most notable projects. Each one tells a unique story of
                        problem-solving,
                        creativity, and technical expertise. Dive into the details, see the transformations, and get
                        inspired by
                        the possibilities. These projects are a reflection of our passion for delivering exceptional
                        digital
                        solutions that make a real difference.</p>
                </div>
                <hr class="border ">

            </div>
        </div>